/* FONTs */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

/* Restart Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body {
    background: linear-gradient(to left, rgb(45, 38, 74), rgb(32, 32, 36));
    color: #ffffff;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container a, button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 30px;
    border: 3px solid rgb(130, 87, 230);
    border-radius: 10px;
    background: transparent;
    margin-top: 10px;
    color: #ffffff;
}

label {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
}

.input-file-upload {
    display: flex;
    flex-direction: column;
}

.upload-btn {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    width: 500px;
    border: 2px dashed rgb(130, 87, 230)!important;
    font-size: 19px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding: 19px 40px;

}

.upload-btn input[type=file] {
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload_img {
    display: inline-block;
    border: 3px solid rgb(130, 87, 230);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align: middle;
    margin-top: 20px;
}